* {
    margin: 0;
    padding: 0%;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.top {
    min-height: 764px;
    background-color: #F1E4E6;
}

.menu {
    height: 75px;
    background-color: #222222;
}

.header {
    min-height: 764px;
    margin-bottom: 65px;
    display: flex;
}

.background {
    max-width: 600px;
    background-image: url(photo/header_image.png);
    background-repeat: no-repeat;
    background-position: right;
    flex-grow: 1;
}

.sale {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header_menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-top: 18px;
}

.top_menu {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-right: 41px;
}

.search {
    padding-top: 10px;
}

.profil {
    padding-top: 10px;
    padding-right: 33px;
}

.header_line {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 63px;
}

.photo {
    padding-right: 16px;
}

.hd_text {
    font-size: 32px;
    font-weight: 900;
    line-height: 58px;
    color: #222222;
}

.color_text {
    color: #F16D7F;
}

.content {
    margin-bottom: 96px;
}

.sale_parent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.sale_item {
    position: relative;
    flex-grow: 1;
}

.sale_photo {
    width: 100%;
    position: absolute;
}

.sale__photo {
    position: relative;
}

.sale_text {
    max-width: 154px;
    position: absolute;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    top: 105px;
    color: #FFFFFF;
    right: 135px;
}

.sale__item {
    margin-left: 30px;
}

.sale__text {
    right: 125px;
}

.weigth_text {
    font-weight: 600;
}

.trend_text {
    top: 70px;
    right: 490px;
    max-width: none;
}

.fetured_header {
    text-align: center;
    padding-bottom: 6px;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.fetured_text {
    text-align: center;
    padding-bottom: 48px;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.fetured_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fetured__items {
    max-width: 315px;
    display: flex;
    flex-direction: column;
    background: #F8F8F8;
    margin-bottom: 30px;
}

.fetured__header {
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 13px;
    padding-left: 18px;
}

.fetured__text {
    max-width: 314px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-left: 17px;
}

.fetured_img {
    padding-bottom: 25px;
}

.fetured_value {
    padding-top: 18px;
    padding-bottom: 20px;
    padding-left: 18px;
}

.fetured_link {
    margin-top: 19px;
    margin-bottom: 100px;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    padding: 15px 39px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 40%;
}

.footer {
    background: #222224;
}

.footer_info {
    display: flex;
    justify-content: space-between;
}

.footer__info {
    margin-bottom: 104px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_img {
    padding-top: 103px;
    padding-bottom: 25px;
}

.footer__img {
    padding-bottom: 19px;
}

.footer_heading {
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
}

.footer_text {
    padding-top: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;   
}

.subscribe {
    background: url(photo/photo_subscribe.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 448px;
}

.subscribe_photo {
    padding-top: 100px;
}

.subscribe_text {
    padding-top: 30px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.sub_text {
    font-style: italic;
}

.sub_form {
    display: flex;
    justify-content: space-between;
}

 .subscribe_info {
     max-width: 360px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .subscribe_form {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-top: 150px;
 }

 .sub__heading {
    font-size: 24px;
    line-height: 167%;
    text-align: center;
    color: #222224;
 }

 .sub__text {
    font-size: 18px;
    line-height: 167%;
    text-align: center;
    color: #222224;
     padding-top: 8px;
     padding-bottom: 32px;
 }

 .email_area {
    background: #E1E1E1;
 } 

 .form_submit {
    display: flex;
 }

 .email_area {
    width: 256px;
    min-height: 49px;
    border-style: none;
    background: #E1E1E1;
    box-sizing: border-box;
    border-radius: 23px 0 0 23px;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    padding-left: 22px;
 }

 .button {
    width: 100px;
    border-style: none;
    background: #F16D7F;
    box-sizing: border-box;
    border-radius: 0 23px 23px 0;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
 }

 .right_text {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
 }

 .footer_contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
 }